<div class="text center">{{ texte[keys[step]] }}</div>
<div>
  <label
    class="left"
    (dragover)="allowDrop($event)"
    (drop)="setFilter(keys[step], fields[keys[step]][1])"
    >NEIN</label
  >
  <label
    class="right"
    (dragover)="allowDrop($event)"
    (drop)="setFilter(keys[step], fields[keys[step]][0])"
    >JA</label
  >
</div>
<div class="center">
  <label draggable="true"></label>
</div>
<div class="center messengers">
  <ul>
    <li *ngFor="let msg of messengers | slice: 0:8">
      {{ msg.name }}
      <span [hidden]="doesItMatch(msg)"> ⚠️</span>
    </li>
  </ul>
  <ul>
    <li *ngFor="let msg of messengers | slice: 8">
      {{ msg.name }}
      <span [hidden]="doesItMatch(msg)"> ⚠️</span>
    </li>
  </ul>
</div>
